asn1crypto
blinker
bokeh
cachetools
certifi
charset-normalizer
click
colorama
contourpy
Flask
Flask-Cors
Flask-Mail
Flask-SQLAlchemy
google==3.0.0
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
greenlet
gunicorn
http-status
idna
itsdangerous
Jinja2
MarkupSafe
mpmath
numpy
packaging
pandas
pg8000
pillow
proto-plus
protobuf
psycopg2
pyasn1
pyasn1_modules
python-dateutil
python-dotenv
pytz
PyYAML
requests
rsa
scramp
six
SQLAlchemy
sympy
tornado
typing_extensions
tzdata
urllib3
Werkzeug
xyzservices
